<div *transloco="let t" class="auth-dialog-wrapper">
  <nav class="auth-nav">
    <div (click)="selectedComponents = 'Login'" [ngClass]="{ active: selectedComponents === 'Login' }">
      <h2>Login</h2>
    </div>
    <div (click)="selectedComponents = 'Register'" [ngClass]="{ active: selectedComponents === 'Register' }">
      <h2>Register</h2>
    </div>
    <div (click)="selectedComponents = 'Reset'" [ngClass]="{ active: selectedComponents === 'Reset' }">
      <h2>Reset</h2>
    </div>
  </nav>

  <div [ngSwitch]="selectedComponents">
    <div *ngSwitchCase="'Login'">
      <jan-login></jan-login>
    </div>
    <div *ngSwitchCase="'Register'">
      <jan-register></jan-register>
    </div>
    <div *ngSwitchCase="'Reset'">
      <jan-reset-password></jan-reset-password>
    </div>
  </div>
</div>
