@use '~@angular/material' as mat;

@mixin authdialog-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, danger);
  $background: mat.get-color-from-palette(map-get($theme, background), background);
  $foreground: mat.get-color-from-palette(map-get($theme, foreground), foreground);

  mat-dialog-container {
    background-color: mat-color($accent) !important;

    mat-error {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  .auth-dialog-wrapper {
    .auth-nav {
      display: flex;
      justify-content: space-around;
      padding: 0.5rem;

      .active {
        color: mat-color($primary);
      }

      h2 {
        cursor: pointer;
        text-align: center;
        padding: 0.5rem !important;
      }
    }
  }
}
