@use '~@angular/material' as mat;

@mixin authdialog-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, danger);
  $background: mat.get-color-from-palette(map-get($theme, background), background);
  $foreground: mat.get-color-from-palette(map-get($theme, foreground), foreground);

  .auth-dialog-wrapper {
    height: auto;
    width: 25vw;
    height: 40vh;

    .auth-nav {
      display: flex;
      justify-content: space-around;
      margin: 0rem 0rem 2rem;

      .active {
        background-color: mat-color($primary);
        border-radius: 20rem;
      }

      h2 {
        cursor: pointer;
        text-align: center;
        padding: 0.3rem !important;
      }
    }
  }
}
