<div class="account-wrapper" *transloco="let t">
  <h1>Account Details</h1>
  <div class="account-details" *ngIf="this.currentUser | async as user">
    <h2>
      {{ t('account.email') }}:
      {{ user.email }}
    </h2>
    <h2>
      {{ t('account.username') }}:
      {{ user.username }}
    </h2>
    <mat-form-field appearance="outline">
      <mat-label>{{ t('account.language') }}</mat-label>
      <mat-select (selectionChange)="changeLanguage($event)" [value]="this.activeLang">
        <mat-option *ngFor="let language of allLanguages" [value]="language">
          {{ language }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button color="primary" mat-raised-button (click)="logout()">{{ t('account.logout') }}</button>
</div>
