<!-- <h1>change family</h1> -->
<div class="shoppinglists-wrapper">
  <div class="add-list">
    <h1>Create new Shoppinglist</h1>
    <form [formGroup]="addListForm" (submit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>List name</mat-label>
        <input matInput type="text" formControlName="listName" />
        <mat-error *ngIf="addListForm.get('listName').errors">Please enter a valid name</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>You Families</mat-label>
        <mat-select (selectionChange)="this.selectedFamily = $event.value">
          <mat-option *ngFor="let family of this.myFamilies | async" [value]="family">
            {{ family.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" type="submit" [disabled]="!this.addListForm.valid">
        <mat-icon class="icon" onselectstart="return false" style="font-size: 2rem"> add_circle </mat-icon>
      </button>
    </form>
    <div class="all-shoppinglists">
      <ul *ngIf="this.myShoppinglists | async as shoppinglists">
        <li *ngFor="let shoppinglist of shoppinglists">
          <h2>{{ shoppinglist.title }} {{ shoppinglist.family.title }}</h2>
          <button color="primary" mat-button routerLink="{{ shoppinglist.id }}">Show</button>
        </li>
      </ul>

      <div *ngIf="(this.myShoppinglists | async)?.length <= 0">
        <h2>You have no shopping lists :(</h2>
      </div>
    </div>
  </div>
</div>
