@use '~@angular/material' as mat;

@mixin navbar-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, danger);
  $background: mat.get-color-from-palette(map-get($theme, background), background);
  $foreground: mat.get-color-from-palette(map-get($theme, foreground), foreground);

  .navbar {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: mat-color($accent);

    .active-link {
      color: mat-color($primary) !important;
    }

    .options-start {
      cursor: pointer;
    }
    .options-end {
      display: flex;

      .account {
        display: flex;

        .user {
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
