@use '~@angular/material' as mat;

@mixin navbar-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, danger);
  $background: mat.get-color-from-palette(map-get($theme, background), background);
  $foreground: mat.get-color-from-palette(map-get($theme, foreground), foreground);

  .navbar-wrapper {
    background-color: mat-color($accent);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-links {
      display: flex;
      list-style: none;
      align-items: center;
      li {
        margin: 0 0.5rem;
        display: flex;
        align-items: center;
      }
    }
  }
}
