<div *transloco="let t" class="navbar">
  <div class="options-start">
    <div *ngIf="this.currentUser | async">
      <button mat-button [routerLink]="['families']" routerLinkActive="active-link">
        <h2>My Families</h2>
      </button>
      <button mat-button [routerLink]="['shoppinglist']" routerLinkActive="active-link">
        <h2>My Shoppinglists</h2>
      </button>
    </div>
  </div>
  <div class="options-end">
    <div *ngIf="this.currentUser | async as user; else noUser" class="account">
      <div class="user" routerLink="account" routerLinkActive="active-link">
        <button color="foreground" mat-icon-button>
          <mat-icon class="icon" onselectstart="return false" aria-hidden="false">account_circle</mat-icon>
        </button>
        <p>{{ user?.username }}</p>
      </div>
      <button mat-icon-button [routerLink]="['settings']" routerLinkActive="active-link">
        <mat-icon class="icon" onselectstart="return false" aria-hidden="false"> settings </mat-icon>
      </button>
    </div>
    <button color="foreground" mat-icon-button (click)="toggleTheme()">
      <mat-icon class="icon" onselectstart="return false" aria-hidden="false">
        {{ this.currentTheme === 'dark-theme' ? 'brightness_high' : 'bedtime' }}</mat-icon
      >
    </button>
    <ng-template #noUser>
      <button color="primary" mat-raised-button (click)="openAuthdialog()">
        <p>Login</p>
      </button>
    </ng-template>
  </div>
</div>
