<div *transloco="let t" class="navbar-wrapper">
  <h1 routerLink="/shoppinglist" style="cursor: pointer">jan👌</h1>
  <nav>
    <ul class="navbar-links">
      <li>{{ (currentUser | async)?.email }}</li>
      <li>
        <button *ngIf="currentUser | async; else loginButton" color="foreground" mat-icon-button routerLink="account">
          <mat-icon class="icon" onselectstart="return false" aria-hidden="false">account_circle</mat-icon>
        </button>
        <ng-template #loginButton>
          <button color="foreground" mat-icon-button (click)="openAuthdialog()">{{ t('navbar.login') }}</button>
        </ng-template>
      </li>
      <li>
        <button color="foreground" mat-icon-button (click)="toggleTheme()">
          <mat-icon
            class="icon"
            onselectstart="return false"
            aria-hidden="false"
            matTooltip="{{ t('navbar.toggletheme') }}"
          >
            {{ this.currentTheme === 'dark-theme' ? 'brightness_high' : 'bedtime' }}</mat-icon
          >
        </button>
      </li>
      <li *ngIf="currentUser | async">
        <button mat-icon-button routerLink="settings">
          <mat-icon class="icon" onselectstart="return false" aria-hidden="false"> settings </mat-icon>
        </button>
      </li>
    </ul>
  </nav>
</div>
