.family-dialog-wrapper {
  h1 {
    text-align: center;
    padding: 1rem 1rem 3rem 1rem !important;
  }

  .add-user-form {
    padding: 2rem;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
