.login-form {
  display: flex;
  flex-direction: column;
}

a {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  .content {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-right: 0.5rem;
    }
  }
}
