@use '~@angular/material' as mat;

@mixin authdialog-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, danger);
  $background: mat.get-color-from-palette(map-get($theme, background), background);
  $foreground: mat.get-color-from-palette(map-get($theme, foreground), foreground);

  .auth-dialog-wrapper {
    p {
      cursor: pointer;
    }
  }
}
