@use '~@angular/material' as mat;
@import './theme/jan-theme.scss';
@import './theme/jan-custom-component-theme.scss';

h1,
h2,
h3,
ul,
p {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  line-break: anywhere;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.light-theme {
  @include jan-custom-components-theme($jan-light-theme);
}
.dark-theme {
  @include jan-custom-components-theme($jan-dark-theme);
}
