// Light-Theme Variables
$primary-jan-light: #cd715e;
$accent-jan-light: #eeeec8;
$background-jan-light: #fff;
$foreground-jan-light: #000;

// Dark-Theme Variables
$primary-jan-dark: #e95959;
$accent-jan-dark: #464a5a;
$background-jan-dark: #080d23;
$foreground-jan-dark: #fff;

// Shared Variables between all themes
$success: green;
$warn: red;
