// Light-Theme Variables
$primary-jan-light: #ff2a6d;
$accent-jan-light: #e68f5b;
$background-jan-light: #fff;
$foreground-jan-light: #000;

// Dark-Theme Variables
$primary-jan-dark: #ff2a6d;
$accent-jan-dark: #070707;
$background-jan-dark: #000;
$foreground-jan-dark: #fff;

// Shared Variables between all themes
$success: green;
$warn: red;
